$color-accent: rgba(239, 145, 102, 1);
$color-secondary: rgba(6, 99, 129, 1);
$color-main: rgba(64, 69, 79, 1);
$color-white: rgba(255, 255, 255, 1);

$color-accent-light: rgba($color-accent, 0.13);
$color-secondary-light: rgba($color-secondary, 0.13);

$color-main-90: rgba($color-main, 0.9);
$color-main-80: rgba($color-main, 0.8);
$color-main-60: rgba($color-main, 0.6);
$color-main-40: rgba($color-main, 0.4);
$color-main-25: rgba($color-main, 0.25);
$color-main-60: rgba($color-main, 0.6);
