$color-accent: #EF9166;
$color-secondary: #066381;
$color-main: rgba(64, 69, 79, 1);
$color-white: #FFFFFF;

$color-accent-light: #FBF0EA;
$color-secondary-light: #DFEBEF;

$color-main-90: #535861;
$color-main-80: #646870;
$color-main-60: #8C8F95;
$color-main-40: #B3B5B9;
$color-main-25: #CFD0D3;

