@import './styles.scss';

.h1-with-crumps {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    li {
      @extend .p3-reg-text;

      &:not(:last-child)::after {
        content: '/';
        margin: 0 0.4rem 0 0.2rem;
      }
    }

    a.active {
      color: $color-main-40;
    }
  }

  h1 {
    max-width: 90rem;
  }
}

.factoids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h2 {
    margin-bottom: 3rem;
  }

  ul {
    display: flex;

    h3 {
      @extend .factoid-text;
    }

    li {
      width: 100%;
    }
  }
  @media (max-width: $md-screen) {
    grid-template-columns: 1fr;
  }
}

.text-with-media {
  display: grid;
  grid-template-columns: 1fr 1fr;

  article {
    > * {
      &:not(:last-child) {
        margin-bottom: 3.2rem;
        padding-right: 20%;
      }
    }
    .links {
      display: flex;
      height: auto;
      flex-wrap: wrap;
      row-gap: 1.6rem;
      column-gap: 3.2rem;
    }
  }

  p {
    @extend .p1-light-text;
  }
  .lead {
    @extend .lead-text;
  }
  h2 {
    span {
      color: $color-accent;
    }
  }

  picture {
    position: relative;

    img {
      border-radius: $roundings;
      display: block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $roundings;
      z-index: -1;
      transition: transform 0.8s ease-in-out;
    }
    &::before {
      background-color: $color-accent-light;
      transform: rotate(-10deg);
    }
    &::after {
      background-color: $color-secondary-light;
      transform: rotate(-5deg);
    }
  }

  @media (max-width: $lg-screen) {
    grid-template-columns: 1fr;

    picture::before,
    picture::after {
      display: none;
    }

    article {
      > * {
        &:not(:last-child) {
          padding-right: 0;
        }
        &.lead {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

#footer {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  padding: 8rem 0 6rem 0;

  .info {
    max-width: 67rem;

    p,
    a {
      @extend .p2-light-text;
      color: $color-main-25;

      &:not(:first-child) {
        margin-top: 2rem;
      }
      &:last-child {
        margin-top: 13%;
      }
    }

    a:hover {
      color: $color-white;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;

    a {
      @extend .p1-reg-text;
      color: $color-white;

      &:hover {
        color: $color-main-40;
      }
    }
    ul {
      display: flex;
      margin-top: auto;

      li {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;

        &:not(:last-child) {
          margin-right: 3.4rem;
        }
        &:hover {
          background-color: $color-white;

          .tg {
            background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0631 17.9651L11.7653 22.1866C12.1913 22.1866 12.3758 22.0021 12.5971 21.7807L14.5944 19.8566L18.733 22.9116C19.492 23.3379 20.0267 23.1135 20.2315 22.2078L22.948 9.37698L22.9488 9.37622C23.1896 8.24525 22.543 7.80299 21.8035 8.08044L5.83566 14.2426C4.74588 14.669 4.76238 15.2813 5.6504 15.5588L9.73274 16.8386L19.2152 10.858C19.6615 10.5601 20.0672 10.7249 19.7335 11.0228L12.0631 17.9651Z" fill="slategray"/></svg>');
          }
          .dzen {
            background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.0002 16.1652V15.8346C24.3583 15.6333 21.3208 15.4677 18.8983 13.1014C16.5327 10.6796 16.3664 7.64269 16.1658 1.00019H15.8346C15.6339 7.64269 15.4677 10.6796 13.1021 13.1014C10.6796 15.4683 7.64206 15.6333 1.00018 15.8346V16.1652C7.64206 16.3664 10.6796 16.5321 13.1021 18.8977C15.4677 21.3202 15.6339 24.3577 15.8346 31.0002H16.1658C16.3658 24.3577 16.5327 21.3202 18.8983 18.8977C21.3208 16.5321 24.3583 16.3664 31.0002 16.1652Z" fill="slategray"/></svg>');
          }
          .ok {
            background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.4867 16.3409C13.7963 16.3409 11.5607 13.9948 11.5607 11.2186C11.5607 8.34618 13.7963 6 16.4879 6C19.27 6 21.4139 8.34618 21.4139 11.2186C21.4118 11.8948 21.2825 12.564 21.0336 13.1877C20.7847 13.8114 20.421 14.3774 19.9634 14.8532C19.5058 15.3291 18.9632 15.7054 18.3668 15.9607C17.7704 16.216 17.1307 16.3452 16.4867 16.3409ZM16.4867 9.01616C15.3475 9.01616 14.4808 10.0211 14.4808 11.2186C14.4808 12.4148 15.3475 13.3248 16.4879 13.3248C17.6736 13.3248 18.495 12.4148 18.495 11.2186C18.495 10.0211 17.6724 9.01616 16.4867 9.01616ZM18.4486 20.602L21.2318 23.427C21.7794 24.0482 21.7794 24.9582 21.2318 25.5331C20.639 26.1556 19.7259 26.1556 19.27 25.5331L16.4879 22.6595L13.7963 25.5331C13.5225 25.8206 13.1571 25.9631 12.7464 25.9631C12.4273 25.9631 12.063 25.8194 11.7428 25.5331C11.1952 24.9582 11.1952 24.0482 11.7428 23.4257L14.5713 20.6008C13.5497 20.283 12.5697 19.8333 11.6535 19.2621C10.969 18.8796 10.8321 17.9221 11.1964 17.2034C11.6535 16.4859 12.4737 16.2947 13.2047 16.7734C14.1938 17.4074 15.3302 17.7429 16.4891 17.7429C17.648 17.7429 18.7844 17.4074 19.7735 16.7734C20.5033 16.2947 21.3699 16.4859 21.7806 17.2034C22.1913 17.9221 22.0092 18.8783 21.3699 19.2621C20.5033 19.8371 19.4997 20.2683 18.4498 20.6033L18.4486 20.602Z" fill="slategray"/></svg>');
          }
          .vk {
            background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.4326 22.8528C16.4326 22.8406 16.4224 22.8307 16.4102 22.8306C10.1793 22.8205 6.31574 18.5791 6.01539 11.5104C6.00352 11.231 6.22942 11 6.50909 11H8.74847C9.0214 11 9.24307 11.2191 9.25525 11.4917C9.45788 16.0253 11.3886 18.2542 13.1171 19.0162C13.4159 19.1479 13.7243 18.91 13.7243 18.5835V11.5C13.7243 11.2239 13.9481 11 14.2243 11H16.3316C16.6077 11 16.8316 11.2239 16.8316 11.5V15.1052C16.8316 15.4054 17.0961 15.6391 17.3817 15.5468C18.9285 15.0473 20.442 13.299 21.1132 11.3585C21.1861 11.148 21.3803 11 21.6031 11H23.6983C24.0077 11 24.2437 11.2789 24.1688 11.5791C23.6329 13.7254 22.238 15.4029 20.9995 16.3885C20.6897 16.6349 20.714 17.1528 21.0455 17.3691C22.3513 18.221 23.9555 19.793 24.8053 22.2479C24.9133 22.56 24.6737 22.875 24.3434 22.875H21.9933C21.7747 22.875 21.5831 22.7322 21.5075 22.5271C20.799 20.6052 19.3339 19.1251 17.3753 18.73C17.0863 18.6717 16.8316 18.9046 16.8316 19.1994V22.6755C16.8316 22.7857 16.7423 22.875 16.6321 22.875H16.4548C16.4425 22.875 16.4326 22.8651 16.4326 22.8528Z" fill="slategray"/></svg>');
          }
        }

        a {
          display: block;
          background-color: transparent;
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 3;
        }

        .tg {
          background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0631 17.9651L11.7653 22.1866C12.1913 22.1866 12.3758 22.0021 12.5971 21.7807L14.5944 19.8566L18.733 22.9116C19.492 23.3379 20.0267 23.1135 20.2315 22.2078L22.948 9.37698L22.9488 9.37622C23.1896 8.24525 22.543 7.80299 21.8035 8.08044L5.83566 14.2426C4.74588 14.669 4.76238 15.2813 5.6504 15.5588L9.73274 16.8386L19.2152 10.858C19.6615 10.5601 20.0672 10.7249 19.7335 11.0228L12.0631 17.9651Z" fill="white"/></svg>');
        }
        .dzen {
          background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.0002 16.1652V15.8346C24.3583 15.6333 21.3208 15.4677 18.8983 13.1014C16.5327 10.6796 16.3664 7.64269 16.1658 1.00019H15.8346C15.6339 7.64269 15.4677 10.6796 13.1021 13.1014C10.6796 15.4683 7.64206 15.6333 1.00018 15.8346V16.1652C7.64206 16.3664 10.6796 16.5321 13.1021 18.8977C15.4677 21.3202 15.6339 24.3577 15.8346 31.0002H16.1658C16.3658 24.3577 16.5327 21.3202 18.8983 18.8977C21.3208 16.5321 24.3583 16.3664 31.0002 16.1652Z" fill="white"/></svg>');
        }
        .ok {
          background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.4867 16.3409C13.7963 16.3409 11.5607 13.9948 11.5607 11.2186C11.5607 8.34618 13.7963 6 16.4879 6C19.27 6 21.4139 8.34618 21.4139 11.2186C21.4118 11.8948 21.2825 12.564 21.0336 13.1877C20.7847 13.8114 20.421 14.3774 19.9634 14.8532C19.5058 15.3291 18.9632 15.7054 18.3668 15.9607C17.7704 16.216 17.1307 16.3452 16.4867 16.3409ZM16.4867 9.01616C15.3475 9.01616 14.4808 10.0211 14.4808 11.2186C14.4808 12.4148 15.3475 13.3248 16.4879 13.3248C17.6736 13.3248 18.495 12.4148 18.495 11.2186C18.495 10.0211 17.6724 9.01616 16.4867 9.01616ZM18.4486 20.602L21.2318 23.427C21.7794 24.0482 21.7794 24.9582 21.2318 25.5331C20.639 26.1556 19.7259 26.1556 19.27 25.5331L16.4879 22.6595L13.7963 25.5331C13.5225 25.8206 13.1571 25.9631 12.7464 25.9631C12.4273 25.9631 12.063 25.8194 11.7428 25.5331C11.1952 24.9582 11.1952 24.0482 11.7428 23.4257L14.5713 20.6008C13.5497 20.283 12.5697 19.8333 11.6535 19.2621C10.969 18.8796 10.8321 17.9221 11.1964 17.2034C11.6535 16.4859 12.4737 16.2947 13.2047 16.7734C14.1938 17.4074 15.3302 17.7429 16.4891 17.7429C17.648 17.7429 18.7844 17.4074 19.7735 16.7734C20.5033 16.2947 21.3699 16.4859 21.7806 17.2034C22.1913 17.9221 22.0092 18.8783 21.3699 19.2621C20.5033 19.8371 19.4997 20.2683 18.4498 20.6033L18.4486 20.602Z" fill="white"/></svg>');
        }
        .vk {
          background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.4326 22.8528C16.4326 22.8406 16.4224 22.8307 16.4102 22.8306C10.1793 22.8205 6.31574 18.5791 6.01539 11.5104C6.00352 11.231 6.22942 11 6.50909 11H8.74847C9.0214 11 9.24307 11.2191 9.25525 11.4917C9.45788 16.0253 11.3886 18.2542 13.1171 19.0162C13.4159 19.1479 13.7243 18.91 13.7243 18.5835V11.5C13.7243 11.2239 13.9481 11 14.2243 11H16.3316C16.6077 11 16.8316 11.2239 16.8316 11.5V15.1052C16.8316 15.4054 17.0961 15.6391 17.3817 15.5468C18.9285 15.0473 20.442 13.299 21.1132 11.3585C21.1861 11.148 21.3803 11 21.6031 11H23.6983C24.0077 11 24.2437 11.2789 24.1688 11.5791C23.6329 13.7254 22.238 15.4029 20.9995 16.3885C20.6897 16.6349 20.714 17.1528 21.0455 17.3691C22.3513 18.221 23.9555 19.793 24.8053 22.2479C24.9133 22.56 24.6737 22.875 24.3434 22.875H21.9933C21.7747 22.875 21.5831 22.7322 21.5075 22.5271C20.799 20.6052 19.3339 19.1251 17.3753 18.73C17.0863 18.6717 16.8316 18.9046 16.8316 19.1994V22.6755C16.8316 22.7857 16.7423 22.875 16.6321 22.875H16.4548C16.4425 22.875 16.4326 22.8651 16.4326 22.8528Z" fill="white"/></svg>');
        }
      }
    }
  }
  .adress {
    margin-bottom: 1rem;
  }

  &::after {
    background-color: $color-main;
    border-radius: $roundings * 1.5 $roundings * 1.5 0 0;
    position: absolute;
    inset: 0;
    z-index: -2;
    height: 100%;
    left: calc(-50vw - -50.6%);
    right: calc(-50vw - -50.5%);
    content: '';
  }

  @media (max-width: $md-screen) {
    grid-template-columns: 1fr;
    padding: 4rem 0 4rem 0;
    .contacts {
      ul {
        margin-top: 1.6rem;
      }
    }
    .contacts {
      order: 1;
    }
    .info {
      order: 2;
    }
    &::after {
      border-radius: 2rem 2rem 0 0;
    }
    .adress {
      margin-bottom: 0.8rem;
    }
  }
}
