/*
Здесь всё, что касается зависимостей от ширины экрана:
1. Паддинги у body;
2. Отступы между компонентами;
3. Класс элемента изображения в полную ширину экрана для мобилы.

сори за !important 
*/

$xs-screen: 359px;
$md-screen: 639px;
$lg-screen: 1023px;
$xl-screen: 1439px;

body 
{
  max-width: $xl-screen;
  margin-left: auto;
  margin-right: auto;
  padding-left: 36px;
  padding-right: 36px;
}

@media (max-width: $xs-screen) 
{
  section, footer 
  {
    margin-top: 4.8rem;
  }

  .full-width 
  {
    width: 100vw;
    margin-left: -16px;
    padding: 0 !important;
  }

  .full-width > picture > img
  {
    width: 100%;
    border-radius: 0rem !important;
  }
}

@media (max-width: $md-screen) 
{
  body 
  {
    padding-left: 16px;
    padding-right: 16px;
  }

  section, footer 
  {
    margin-top: 5.6rem;
  }

  .full-width 
  {
    width: 100vw;
    padding: 0 !important;
    margin-left: -16px !important;
  }

  .full-width > picture > img
  {
    width: 100%;
    border-radius: 0rem !important;
  }
}

@media (max-width: $lg-screen) 
{

  section, footer 
  {
    margin-top: 6.4rem;
  }

  .full-width 
  {
    width: 100vw;
    padding: 0 !important;
    margin-left: -36px;
  }

  .full-width > picture > img
  {
    width: 100%;
    border-radius: 0rem !important;
  }
}

@media (max-width: $xl-screen) 
{
  section, footer 
  {
    margin-top: 7.2rem;
  }
}

@media (min-width: $xl-screen) 
{
  section, footer 
  {
    margin-top: 8rem;
  }
}
