@import './colors.scss';
@import './typography.scss';
@import './screens.scss';
@import './reset.scss';

body {
  @extend .p3-reg-text;
  * {
    color: $color-main;
  }
}

.h1-with-crumps {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    li {
      @extend .p3-reg-text;

      &:not(:last-child)::after {
        content: '/';
        margin: 0 0.4rem 0 0.2rem;
      }
    }

    a.active {
      color: $color-main-40;
    }
  }

  h1 {
    max-width: 90rem;
  }
}

.factoids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  ul {
    display: flex;

    h3 {
      @extend .factoid-text;
    }
    
    li{
      width: 100%;
    }
  }
  @media (max-width: $md-screen) {
    grid-template-columns: 1fr;
  }
}
