@import './colors.scss';
@import './screens.scss';

/*
Здесь всё, что касается ui-компонентов и внешнего вида:
1. Переменная для округления блоков;
2. Переменная для плавных анимаций;
3. Класс кнопки (для a и button);
4. Input'ы, чекбоксы;
5. Формы, их поведение в списке.
*/

$roundings: 3.2rem;
$transition: 200ms ease-out;

body 
{
  @extend .p3-reg-text;
  overflow-x: hidden;
  position: relative;
}

body * 
{
  color: $color-main;
}

body a, li, button {
  transition: $transition;
}

//по-умолчанию залитая акцентным цветом кнопка
.button 
{
  @extend .button-text;
  text-transform: uppercase;
  padding: 1.4rem 4rem;
  background-color: $color-accent;
  color: $color-white;
  border-radius: 5rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.button:hover 
{
  transform: scale(0.96);
}

//.icon - кнопка с иконкой справа
.button.icon 
{
  padding: 1.2rem 4rem;
}

.button.icon::after 
{
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  vertical-align: middle;
  content: '';
  background: url(../assets/icons/go-white.svg);
}

//.empty - кнопка не залитая
.button.empty 
{
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  color: $color-main;
}

.button.empty::after 
{
  background: url(../assets/icons/go-black.svg);
}

//.black - кнопка чёрная залитая
.button.black 
{
  background-color: $color-main;
  color: $color-white;
}
.button.black::after 
{
  background: url(../assets/icons/go-white.svg);
}

//.small - кнопка приплюснутая
.button.small 
{
  padding: 0.8rem 2.4rem;
}



input[type="checkbox"] 
{
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid $color-accent; 
  border-radius: 0.5rem;
  background-color: $color-white;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked 
{
  background-color: $color-accent; 
  border-color: $color-accent; 
}

input[type="checkbox"]:checked::after 
{
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 1rem;
  border: solid $color-white;
  border-width: 0 0.1rem 0.1rem 0;
  transform: rotate(45deg);
  top: 0.2rem;
  left: 0.6rem;
}

input[type="text"] {
  width: 100%;
  padding: 1.2rem 2.2rem;
  background-color: $color-accent-light;
  color: $color-main-60;
  font-size: 1.6rem;
  color: $color-main;
  border-radius: 1.2rem;
}

form 
{
  display: flex;
  gap: 4.8rem;
  flex-direction: column;
}

form li:not(:last-child) 
{
  margin-bottom: 3.2rem;
}

.active {
  opacity: 1 !important;
  pointer-events: all !important;
}
.no-scroll {
  overflow: hidden;
}

@media (max-width: $lg-screen) 
{
  .button
  {
    padding: 1.2rem 2rem;
  }

  .button.icon 
  {
    padding: 1rem 2rem;
  }

  .button.empty 
  {
    padding-left: 0;
    padding-right: 0;
  }

  input[type="checkbox"] 
  {
  width: 1.6rem;
  height: 1.6rem;
  }

  input[type="text"] 
  {
    width: 100%;
    font-size: 1.3rem;
  }

  input[type="checkbox"]:checked::after 
  {
  content: "";
  top: 0;
  left: 0.4rem;
  }

  form 
  {
    gap: 3.2rem;
  }
  
  form li:not(:last-child) 
  {
    margin-bottom: 2rem;
  } 
}
